

<div id="create">
<h1><a href="articles/new">Create a new article</a></h1>
</div>

<div id="index">
	<% @articles.each do |article| %>
	  <h2><%= article.id %>- <%= article.title %></h2>
	  <p><%= article.content %></p>
	  <%= link_to "see details", article_path(article) %>
	  <%= link_to "edit", edit_article_path(article) %>
	  <%= link_to "delete", article_path(article), method: :delete %>
	  <br>
	<% end %>
</div>
